* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    width: 100%;
    height: 100vh;
}

nav {
    background-color: #8d644cfc;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 80px;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background-color: #9d7447;
    transition: .5s;

}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}

@media(max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;


    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;

    }
}

.imgSlider {
    width: 100%;
    height: 542px;
    background-image: url("first1.jpg");
    background-size: 100% 100%;
    box-shadow: rgba(149, 15, 165, 0.27) 0px 8px 24px;
    animation: changeImages 20s linear infinite;
}

@keyframes changeImages {
    0% {
        background-image: url("p1.jpg");
    }

    50% {
        background-image: url("first1.jpg");
    }

    100% {
        background-image: url("p1.jpg");
    }
}